---
---

@import "{{ site.theme }}";

body {
  font-size: 18px;
}

header {
    background: rgba(0, 0, 0, 0.1);
    border-right: 1px dashed #8c7ae7;
    border-bottom: 0;
    padding: 0;
    margin: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin-left: 0px;
    color: #8c7ae7;
}

footer {
  margin-left: 40px;
  padding: 20px;
  min-width: 400px;
  width: auto;
  margin-top: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #8c7ae7;
}

hr {
    border-bottom: 1px dashed #8c7ae7;
    color: #8c7ae7;
}

.container {
  margin-left: 40px;
  padding: 20px;
  min-width: 400px;
  max-width: unset;
  overflow-y: auto;
}

.full-container {
  display: flex;
  height: 100vh;
}

.custom-sidebar {
  width: 400px; 
  background-color: #282828; 
  border-radius: 5px;
  flex-shrink: 0;   
}

/* 移除 <ul> (列表) 的預設樣式 (點點和縮排) */
.custom-sidebar ul {
  margin: 0;
  padding: 10px; /* 讓按鈕和邊框有點距離 */
}

/* 側邊欄的連結 <a> */
.custom-sidebar li a {
  display: block; /* 讓連結變成區塊，佔滿整行，方便點擊 */
  padding: 12px 15px;
  color: #e0e0e0; /* 亮的文字顏色 */
  text-decoration: none; /* 移除底線 */
  border-radius: 4px; /* 圓角 */
  font-weight: bold;
}

/* 滑鼠移上去時的 Highligh 效果 */
.custom-sidebar li a:hover {
  background-color: #444;
  color: #fff;
}
 
.main-content {
    flex-grow: 1;         /* 讓主內容填滿剩餘的寬度 */
    overflow-y: auto;   /* 只讓主內容在Y軸上滾動 */
}

@media screen and (max-width: 768px) {
  
  header {
    border-right: 0;
    border-bottom: 1px dashed #b5e853;
  }

  .full-container {
      display: block;
  }

  .container {
    width: auto;
  }

}
